{% extends 'main.html' %}
{% block content %}

{% if page == 'login' %}
<div>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="">Username:</label>
        <input type="text" name="username" placeholder="Enter username ">
        <label for="">Password:</label>
        <input type="password" name="password" placeholder="Enter password ">

        <input type="submit" value="Login">
        <p>Haven't signed up yet?</p>
        <a href="{% url 'register' %}">Sign up</a>
    </form>
</div>
{% else %}
<div>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}} 
        <!-- form.as_p,form wrapped in paragraph -->
        <input type="submit" value="Register">
        <p>Have already Account?</p>
        <a href="{% url 'login' %}">Sign up</a>
    </form>
</div>
{% endif %}
{% endblock%}